body {
	font-family: "宋体";
	width: 100%;
	behavior: url(http://www.zzsmfc.com/templets/smtemplet/style/iehoverfix.htc);
	overflow-x: hidden;
}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
	margin: 0;
	padding: 0;
}
body,button,input,select,textarea {
	font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
address,cite,dfn,em,var {
	font-style: normal;
}
code,kbd,pre,samp {
	font-family: courier new, courier, monospace;
}
small {
	font-size: 12px;
}
ul,ol,li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #977255;
}
a:hover {
	text-decoration: none;
}
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}
legend {
	color: #000;
}
fieldset,img {
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1,h2,h3,h4,h5,h6,button,input,select,textarea {
	font-size: 100%;
}
.clearfix:after {
	clear: both;
	content: "\20";
	display: block;
	height: 0;
}
.clearfix {
	zoom: 1
}
.hidden {
	display: none;
}
.block {
	display: block;
}
.invisible {
	visibility: hidden;
}
:root {
	overflow-y: scroll;
}

